<ion-view view-title="Tasks">

	<ion-nav-buttons side="left">
		<button class="button button-clear button-dark icon ion-drag" ng-click="toggleLeft()"></button>
	</ion-nav-buttons>

	<ion-content class="tasks-background">


    <div class="card" ng-repeat="item in taskList">
    	<ion-checkbox class="checkbox-calm"ng-model="isChecked">{{item.title}} <span class="badge badge-assertive">{{item.value}}</span></ion-checkbox>
    </div>

	</ion-content>

	<button id="fab" ng-click="openTaskModal()" class="button bloomy button-fab button-fab-bottom-right icon ion-plus-round"></button>

</ion-view>

